agentes/MCP_CLIENT.json
{
  "name": "MCP CLIENT",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -40,
        -40
      ],
      "id": "53911270-d123-4b65-aac0-5e7fb738dae5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "o3-mini-2025-01-31"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        160
      ],
      "id": "16ff4c0b-8ddb-430b-94f7-36e3c64fee17",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6UD6PgY3draIuUgn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        180
      ],
      "id": "4a11a91a-0458-4df4-96b5-bada4e4cf92b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sseEndpoint": "https://primary-production-b81e.up.railway.app/mcp/fa33638b-4876-4e84-b008-fb5d0d208650/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        320,
        180
      ],
      "id": "61688433-6a57-4bc9-94ab-45739bd665c3",
      "name": "MCP Correos"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        0
      ],
      "id": "2edd3fe2-1d06-455d-a107-0edb62866da4",
      "name": "Telegram Trigger",
      "webhookId": "90fdb8fe-14aa-4b77-aadd-dd0545985949",
      "credentials": {
        "telegramApi": {
          "id": "510JiFxDWkbbY4qC",
          "name": "ComaposBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        -60
      ],
      "id": "deb7f639-5a70-4cef-9641-96ed7e1e9db4",
      "name": "Telegram",
      "webhookId": "a0512a7a-d7a4-4d68-9685-7d4e66197840",
      "credentials": {
        "telegramApi": {
          "id": "510JiFxDWkbbY4qC",
          "name": "ComaposBot"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://primary-production-b81e.up.railway.app/mcp/0c1608fa-dd60-4ae5-8387-413dada9e33a/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        180,
        200
      ],
      "id": "89d6f2a9-e95a-41af-877f-a086a77a8d18",
      "name": "MCP reportes"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Correos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP reportes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1a21206-c8b0-4407-a413-f22210f62ed9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40a5ea68f4969863021162f7772891c2e5347c7af6af7702785ba6607f930ad0"
  },
  "id": "bBWVlyMtmkLLxxzB",
  "tags": []
}